*{
    margin: 0;
    padding: 0;
}
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }
  body{
    background-color: var(--body-bg-color);
    display: flex;
  }
  main{
  }
  aside{
  }
  .Profile, .Links, .Technologies, .Experiences, .Education{
    background-color: var(--bg-cards);
    width: 348px;
    margin: 40px 30px 30px 40px;
    border-radius: 2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
  }
  p,h2,a,img{
    color: var(--text-color);
  }