@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }
  body{
    background-color: var(--body-bg-color);
    display: flex;
  }
  .Profile, .Links, .Technologies, .Experiences, .Education,.MyProjects,.Poject-1,.Project-2,.recentsPost,.Post{
    background-color: var(--bg-cards);
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
    margin: 40px 30px 30px 40px;
  }
  .Profile, .Links, .Technologies, .Experiences, .Education{
    width: 348px;
  }
  .imgProfile{
    margin: 32px 110px 15px 110px;
  }
  .Name{
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .Profession{
    padding-bottom: 49px;
  }
  .map, .work, .gitHub,.Email{
    display: flex;
  }
  p,h2,a,span{
    color: var(--text-color);
  }
  a{
    text-decoration: none;
  }
  .Profile{
    text-align: center;
  }
  .Links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px 30px 0px;
  }
  .imgLink{
    padding-right: 20px;
    padding-left: 40px;
    filter: invert(47%) sepia(56%) saturate(0%) hue-rotate(199deg) brightness(95%) contrast(100%);
  }
  .TechnologiesDivsTotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .asideTitle{
    padding: 30px 0px 26px 20px;
  }
  .technologiesDivs{
    width: 86px;
    height: 24px;
    background-color:var(--bg-techs) ;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .technologiesDivs p{
    color: #000;
    text-align: center;
    font-size: 10px;
    font-family: Merriweather Sans;
    font-weight: 700;
  }
  .TechnologiesDivsTotal > div:last-child{
    margin-bottom: 40px;
  }
  .list{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 30px 60px;
  }
  span{
    font-size: 1.2rem;
  }