body {
  background-color: #22212C;
  padding: 30px;
  font-family: 'Merriweather Sans', sans-serif;
}


main {
  display: grid;
  grid-template-columns: 28% 68%;
  gap: 4%;
  width: 100%;
}

.box-gray {
  background-color: #302F3D;
  border-radius: 20px;

  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

#left-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

#right-main {
  width: 100%;
}

#box-i, #box-links   {
  padding: 40px;
}


#box-links{
  padding-top: 20px;
  padding-bottom: 20px;
}

#box-i {
 display: flex;
 flex-direction: column;
 align-items: center;
}

[class*=text] {
  color: #837E9F;
}

.box-text-i { 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.my-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2vh;
  margin-bottom: 0.5vh;
}

.my-area {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
}

.box-icon-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}